
{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}
  <div class="container">

    
        <h1>Members</h1>
        
        <ul>
  
  
    {% for x in mymembers %}    
    <li class="member-item">
       
                  <li class="member-item">
                <a href="details/{{ x.id }}" class="member-link">
                    {{ x.firstname }} {{ x.lastname }}
                </a>
            </li>
            
            {% endfor %}
        </ul>
        <p class="member-link"><a href="/">HOME</a></p>
    </div>
    {% endblock %}