{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}

   <div class="container">
        <div class="member-card">
            <div class="member-header">
                <h1 class="member-name">{{ mymember.firstname }} {{ mymember.lastname }}</h1>
            </div>
  <div class="member-info">
                <div class="info-item">
                    <div class="info-label">
                        <span class="icon">📞</span>
                        Phone:
                    </div>
                    <div class="info-value">{{ mymember.phone }}</div>
                </div>
 <div class="info-item">
                    <div class="info-label">
                        <span class="icon">📅</span>
                        Member Since:
                    </div>
                    <div class="info-value">{{ mymember.joined_date }}</div>
                </div>
            </div>
        </div>
 
  
  <a href="/members" class="back-button">← Back to Members</a>
    </div>
  
{% endblock %}