{% extends "master.html" %}

{% block title %}
  Club de Tenis Elite - Bienvenido
{% endblock %}


{% block content %}
<ul>
  <h1>🎾 Club de Tenis Ilicit</h1>
  <div class="container">
   <div class="member-info">
    <div class="info-item">
        <div>
            <div>
                <h1>BIENVENIDO A MI CLUB DE TENNIS</h1>
                <li class="member-item">
                <a class="member-main" href="members/">MEMBERS</a>
                </li>
            </div>
        </div>
    </div> 
</div>
</div></ul>
             

{% endblock %}